<div class="header">
  <h1>Learning to Code</h1>
  <h3>A Collection of Ruby on Rails Resources for Beginners</h3>
</div>
<hr/>
<div class="pins">
  <% @pins.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |pin| %>
        <div class="pin-container col-md-4">
          <div class="pin">
            <div class="pin-header row">
              <div class="logo-thumbnail col-xs-3">
                <% if self.pin.image.exists? %>
                <%= image_tag(pin.image.url(:thumb)) %>
                <% else %>
              <% if "#{self.pin.category.name}" == "rails" %>
                <%= image_tag('rails-logo-thumbnail') %>
              <% elsif "#{self.pin.category.name}" == "ruby"%>
                <%= image_tag('ruby-logo-thumbnail')%>
              <% end %>
              <% end %>
              </div>
              <div class="col-xs-9">
              <h4>
                <%= link_to "#{pin.title}", pin_by_name_path(slug: pin.slug) %></h4>
                <%= link_to "#{pin.url}", "#{pin.url}", html_options = {target: "_blank", class: "url"} %>
            </div>
          </div>
            <hr/>
            <p class="text"><%= "#{pin.text}" %></p>
            <div align="left">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <%= link_to "Edit a pin", edit_pin_path(pin.id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<hr/>
